<%= link_to 'Home', creatures_path %>
<div>
    Name: <%= @creature.name %> <br>
    Description: <%=  @creature.description %>
</div>

<%= form_for @creature do |f| %>

    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.submit "update creature" %>

<% end %>